# **Ejercicio 1**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
Nom="Regina Muñoz"
Mat=1851448

print(Nom,Mat)

Regina Muñoz 1851448

# **Ejercicio 2**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
N1 = int(input("Primer número:" ))
N2 = int(input("Segundo número: "))

print("\nSuma:",N1+N2)
print("Resta:",N1-N2)
print("Multiplicación:",N1*N2)
print("División:",N1/N2)
print("Exponente:",N1**N2)

Primer número:2
Segundo número: 3

Suma: 5
Resta: -1
Multiplicación: 6
División: 0.6666666666666666
Exponente: 8

#**Ejercicio 3**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
a1=[3]
i=2
while i <= 10:
    a1=a1+[i*3]
    i=i+1
a2=0
i=0
while i <= 9:
     a2=a2+a1[i]
     i=i+1
print("Lista multiplos de 3:",a1)
print("Suma de arreglo:",a2)

Lista multiplos de 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Suma de arreglo: 165

#**Ejercicio 4**
* Con una función de if else, revisar si un número es par o es impar.
* Con una función de if else, revisar si un número es primo o no.

In [ ]:
a = int(input("Introduce un número: "))
if  a%2 != 0: 
    print ("El número es impar")
else:
    print ("El número es par")

i=2
while i < a:
    if a%i != 0:
     b=0
    else:
     b=1
     i=a
    i=i+1
    

if  b == 0: 
    print("Es primo")
else:
    print("No es primo")

Introduce un número: 43
El número es impar
Es primo

#**Ejercicio 5**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [292]:
class Calculadora:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def suma(self):
    return self.a + self.b
  def resta(self):
    return self.a - self.b
  def mult(self):
    return self.a * self.b
  def div(self):
    return self.a / self.b
  def exp(self):
    return self.a ** self.b

a = int(input("Primer número:" ))
b = int(input("Segundo número: "))
Datos=Calculadora(a,b)
print("\nSuma:",Datos.suma())
print("Resta:",Datos.resta())
print("Multiplicación:",Datos.mult())
print("División:",Datos.div())
print("Exponente:",Datos.exp())

Primer número:2
Segundo número: 3

Suma: 5
Resta: -1
Multiplicación: 6
División: 0.6666666666666666
Exponente: 8

#**Ejercicios Tuplas**
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
x=20
print(type(x))
y=10.23
print(type(y))
z=True
print(type(z))
u=complex(20)
print(type(u))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
t1=(1,3,5,7,9)
print("Primer valor: ",t1[0])
print("Segundo valor: ",t1[-1])

Primer valor:  1
Segundo valor:  9

Añadir 3 valores de string a la tupla.

In [ ]:
t1.__add__(("once","trece","quince"))

(1, 3, 5, 7, 9, 'once', 'trece', 'quince')

Verificar si una variable existe dentro de la tupla.

In [ ]:
a=int(input("Buscar en tupla: ",))
if a in t1:
  print("Si se encuentra en la tupla")
else:
  print("No se encuentra en la tupla")

Buscar en tupla: 9
Si se encuentra en la tupla

#**Listas**
Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
import random as r
list1 = []
for i in range (0,40):
    list1.append(r.randint(1,10000))
    
print (list1)

[36, 5775, 4283, 4564, 6044, 9019, 6485, 5349, 1189, 7185, 3183, 1502, 7978, 2556, 3204, 6468, 7373, 41, 6546, 547, 1374, 6252, 5840, 3074, 8746, 7485, 9346, 9889, 8462, 5293, 453, 2072, 7595, 4372, 6981, 7147, 9833, 7953, 9508, 9682]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [ ]:
def Dividir_pares(list_fun):
  listp=list()
  listimp=list()
  for i in range(0,len(list_fun)):
    if list_fun[i]%2==0:
      listp.append(list_fun[i])
    else:
      listimp.append(list_fun[i])
  return((listp),(listimp))

Div=Dividir_pares(list1)
print("Lista de pares: ",Div[0])
print("Lista de impares: ",Div[1])

Lista de pares:  [36, 4564, 6044, 1502, 7978, 2556, 3204, 6468, 6546, 1374, 6252, 5840, 3074, 8746, 9346, 8462, 2072, 4372, 9508, 9682]
Lista de impares:  [5775, 4283, 9019, 6485, 5349, 1189, 7185, 3183, 7373, 41, 547, 7485, 9889, 5293, 453, 7595, 6981, 7147, 9833, 7953]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [ ]:
Lenpar=len(Div[0])
Lenimpar=len(Div[1])
print("Longitud de pares: ",Lenpar)
print("Longitud de impares: ",Lenimpar)

Longitud de pares:  20
Longitud de impares:  20

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [ ]:
Div[0].sort(reverse=True)
Div[1].sort()
print("Lista > de pares: ",Div[0])
print("Lista < de impares: ",Div[1])

Lista > de pares:  [9682, 9508, 9346, 8746, 8462, 7978, 6546, 6468, 6252, 6044, 5840, 4564, 4372, 3204, 3074, 2556, 2072, 1502, 1374, 36]
Lista < de impares:  [41, 453, 547, 1189, 3183, 4283, 5293, 5349, 5775, 6485, 6981, 7147, 7185, 7373, 7485, 7595, 7953, 9019, 9833, 9889]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
list1.insert(2,34)
print(list1)
list1.pop()
print(list1)
list1.remove(34)
print(list1)
list1.reverse()
print(list1)

[36, 5775, 34, 4283, 4564, 6044, 9019, 6485, 5349, 1189, 7185, 3183, 1502, 7978, 2556, 3204, 6468, 7373, 41, 6546, 547, 1374, 6252, 5840, 3074, 8746, 7485, 9346, 9889, 8462, 5293, 453, 2072, 7595, 4372, 6981, 7147, 9833, 7953, 9508, 9682]
[36, 5775, 34, 4283, 4564, 6044, 9019, 6485, 5349, 1189, 7185, 3183, 1502, 7978, 2556, 3204, 6468, 7373, 41, 6546, 547, 1374, 6252, 5840, 3074, 8746, 7485, 9346, 9889, 8462, 5293, 453, 2072, 7595, 4372, 6981, 7147, 9833, 7953, 9508]
[36, 5775, 4283, 4564, 6044, 9019, 6485, 5349, 1189, 7185, 3183, 1502, 7978, 2556, 3204, 6468, 7373, 41, 6546, 547, 1374, 6252, 5840, 3074, 8746, 7485, 9346, 9889, 8462, 5293, 453, 2072, 7595, 4372, 6981, 7147, 9833, 7953, 9508]
[9508, 7953, 9833, 7147, 6981, 4372, 7595, 2072, 453, 5293, 8462, 9889, 9346, 7485, 8746, 3074, 5840, 6252, 1374, 547, 6546, 41, 7373, 6468, 3204, 2556, 7978, 1502, 3183, 7185, 1189, 5349, 6485, 9019, 6044, 4564, 4283, 5775, 36]

#**Diccionarios**
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [ ]:
Dict1={'Edgar':22,'Debanhi':19,'Regina':20,'Mariana':23,'Adrián':22,'Ana':21}
Dict1

{'Adrián': 22,
 'Ana': 21,
 'Debanhi': 19,
 'Edgar': 22,
 'Mariana': 23,
 'Regina': 20}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [ ]:
List2=list(Dict1.values())
List2.sort()
List2

[19, 20, 21, 22, 22, 23]

Usando el diccionario y un loop, imprimir solo los nombres.

In [ ]:
for i in Dict1:print(i)

Edgar
Debanhi
Regina
Mariana
Adrián
Ana

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [ ]:
Dict1['Judith']=18
Dict1['Cesar']=20
Dict1

{'Adrián': 22,
 'Ana': 21,
 'Cesar': 20,
 'Debanhi': 19,
 'Edgar': 22,
 'Judith': 18,
 'Mariana': 23,
 'Regina': 20}

#**Sets**
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [ ]:
import random as r
listaux = []
for i in range (0,100):
    listaux.append(r.randint(1, 25))
Set1 = set(listaux)
Set1

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

Comprueba la longitud de tu set.

In [ ]:
len(Set1)

25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
listaux = []
setaux = set()
for i in range (0,5):
    listaux.append(r.randint(1, 10))
for i in range (0,len(listaux)):
  if listaux[i] in Set1:
    setaux.add(listaux[i])
print(setaux," se encuentran en el set inicial")

{1, 2, 3, 6, 7}  se encuentran en el set inicial